
.nav__menu{
    display: none;
  }

@media screen and (max-width: 767px) {
    .nav__menu {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4rem;
      padding: 0 1rem;
      display: grid;
      align-content: center;
      border-radius: 1.25rem 1.25rem 0 0;
      transition: .4s;
      z-index: 100;
    }
  }

  
.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem;
}